@use "../../utils" as *;
/*----------------------------------------*/
/*  4.25 Apartments area css
/*----------------------------------------*/

/* apartment tab style  */
.apartments-tab {
    .nav{
        display: inline-flex;
        align-items: center;
        background: var(--theme-bg-primary);
        @media #{$xxs}{
            width: 100%;
            flex-direction: column;
        }
    }
    a {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        position: relative;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        color:var(--bd-black);
        z-index: 2;
        margin: 0 15px;
        transition: .4s;
        &:before{
            position: absolute;
            content: "";
            transition: .4s;
        }
        &:after{
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            -webkit-transition: transform .5s ease;
            transition: transform .5s ease;
            position: absolute;
            content: "";
            left: -1px;
            bottom: 0;
            background-color: var(--bd-primary);
        }
        &:hover{
            color: var(--bd-white);
            &:before{
                position: absolute;
                content: "";
                width: 100%;
                height: calc(100% - 20px);
                background: var(--bd-primary);
                z-index: -1;
            }
            &::after{
                transform: scaleX(1);
            }
        }
        @media #{$xs}{
            font-size: 16px;
        }
        &.active {
            color: var(--bd-white);
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: calc(100% + -20px);
                background: var(--bd-primary);
                z-index: -1;
            }
            &:after{
                width:100% ;
                height: 2px;
                transform: scaleX(1);
                -webkit-transition: transform .5s ease;
                transition: transform .5s ease;
                position: absolute;
                content: "";
                left: -1px;
                bottom: 0;
                background-color: var(--bd-primary);
            }
        }
    }
}

/* apartment content style  */
.apartments{
    &-plan-info{
        background: var(--bd-white);
        padding: 50px 50px 50px 50px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        @media #{$lg,$sm}{
            padding: 40px 40px 40px 40px;
        }
        @media #{$xs}{
            padding: 30px 30px 30px 30px;
        }
        p{
            margin-bottom: 20px;
        }
    }
    &-title{
        color: var(--bd-black);
        margin-bottom: 20px;
        font-size: 34px;
        @media #{$lg,$md}{
            font-size: 30px;
        }
        @media #{$lg,$md}{
            font-size: 30px;
        }
        @media #{$sm}{
            font-size: 25px;
        }
        @media #{$xs}{
            font-size: 22px;
        }
    }
    &-info-list{
        > ul{
            li{
                list-style: none;
                font-size: 16px;
                font-weight: 500;
                position: relative;
                color: var(--bd-taxonomy);
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                &::before{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    border: 1px dashed;
                    border-color: var(--bd-border-primary);
                    z-index: 1;
                }
                label{
                    padding-right: 10px;
                    position: relative;
                    z-index: 2;
                    background: var(--bd-white);
                }
                span{
                    padding-left: 10px;
                    background-color: var(--bd-white);
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }
    &-info-list-color{
        > ul{
            li{
                &::before{
                    border-color: rgba(0,0,0,.2);;
                }
                label{
                    background: var(--bd-white);
                }
                span{
                    background: var(--bd-white);
                }
            }
        }
    }
    &-plan-thumb{
        margin-left: 30px;
        @media #{$lg,$md,$sm,$xs}{
            margin-left: 0;
        }
        img{
            height: 450px;
            @media #{$md,$sm,$xs}{
                height: 100%;
            }
        }
    }
}

/* types of apartments style */

.apartment{
    &-type{
        &-wrapper{
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            flex-wrap: wrap;
            justify-content: center;
            display: flex;
        }
        &-card{
                grid-column-gap: 15px;
                grid-row-gap: 15px;
                background-color: var(--theme-bg-primary);
                align-items: center;
                padding: 15px 45px 15px 20px;
                transition: border-radius .4s;
                display: flex;
                &:hover{
                    border-radius: 100px;
                }
                @media #{$md}{
                    width: 265px;
                    height: 110px;
                    grid-column-gap: 25px;
                    grid-row-gap: 25px;
                    padding: 15px 30px 15px 20px;
                }
                @media #{$sm,$xs}{
                    width: auto;
                    height: auto;
                    min-height: 90px;
                    min-width: 180px;
                    grid-column-gap: 15px;
                    grid-row-gap: 15px;
                }
                @media #{$xxs}{
                    width: 100%;
                    min-height: 70px;
                    grid-column-gap: 15px;
                    grid-row-gap: 5px;
                    justify-content: center;
                    padding: 15px 10px;
                }
        }
        &-icon{
            min-height: 75px;
            min-width: 75px;
            border-radius: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            @media #{$md}{
                min-height: 70px;
                min-width: 70px;
                padding: 10px;
            }
            @media #{$sm,$xs}{
                min-height: 55px;
                min-width: 55px;
            }
            &.is-orange{
                background: var(--bd-primary);
            }
            i{
                font-size: 35px;
                color: var(--bd-white);
            }
        }
    }
    &-name{
        margin-bottom: 3px;
    }
}