@use '../../utils' as *;

/*----------------------------------------*/
/*  4.4 Brand css
/*----------------------------------------*/
.brand {
	&-section-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		.title {
			width: 100%;
			text-align: center;

			@media #{$sm} {
				min-width: 370px;
			}

			b {
				color: var(--bd-black);
				font-weight: var(--bd-fw-sbold);
			}
		}

		.line {
			height: 1px;
			width: 100%;
			background: var(--bd-border-primary);

			@media #{$xs} {
				display: none;
			}
		}
	}

	&-item-wrapper {
		&.style-one {
			background: var(--theme-bg-primary);

			.brand-item {
				@media #{$xxs} {
					text-align: center;
				}

				.thumb {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					height: 90px;
					padding: 0px 40px;
				}
			}
		}

		&.style-two {
			.brand-wrapper {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				border-top: 1px solid var(--bd-border-primary);
				border-inline-start: 1px solid var(--bd-border-primary);

				@media #{$md} {
					grid-template-columns: repeat(3, 1fr);
				}

				@media #{$sm} {
					grid-template-columns: repeat(2, 1fr);
				}

				@media #{$xs} {
					grid-template-columns: repeat(1, 1fr);
				}

				.single-brand {
					display: inline-flex;
					position: relative;
					align-items: center;
					justify-content: center;
					width: 100%;
					min-height: 160px;
					border-inline-end: 1px solid var(--bd-border-primary);
					border-bottom: 1px solid var(--bd-border-primary);
					transition: all 0.3s ease-in-out;

					img {
						opacity: .40;
					}

					&:hover {
						img {
							opacity: 1;
						}
					}
				}
			}
		}

		&.style-three {
			display: flex;
			flex-direction: column;
			gap: 20px;
			margin-left: 110px;

			@media #{$xl, $lg, $md, $sm, $xs} {
				margin-left: 0;
			}

			.brand-thumb-wrapper {
				display: flex;
				align-items: center;
				gap: 20px;
				justify-content: center;

				&.is-grid-style {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					gap: 20px;

					@media #{$md,$xxs} {
						grid-template-columns: repeat(2, 1fr);
					}
				}
			}
		}
	}

	&-section-top {
		@media #{$md} {
			position: sticky;
			top: 110px;
		}
	}
}

/* brand elements style  */

.brand-style-two {
	&.brand-wrapper {
		position: relative;
		z-index: 5;

		&:before {
			position: absolute;
			content: "";
			width: 400px;
			height: 100%;
			background: linear-gradient(90deg, rgb(240, 246, 248) 0%, rgb(240, 246, 248, 0.7) 100%);
			opacity: 1;
			z-index: 2;
			left: 0;
			top: 0;

			@media #{$lg} {
				width: 300px;
			}

			@media #{$md} {
				width: 250px;
			}

			@media #{$sm} {
				width: 150px;
			}

			@media #{$xs} {
				width: 100px;
			}
		}

		&:after {
			position: absolute;
			content: "";
			width: 400px;
			height: 100%;
			background: linear-gradient(90deg, rgb(240, 246, 248) 0%, rgb(240, 246, 248, 0.7) 100%);
			opacity: 1;
			z-index: 2;
			right: 0;
			top: 0;
			transform: rotate(180deg);

			@media #{$lg} {
				width: 300px;
			}

			@media #{$md} {
				width: 250px;
			}

			@media #{$sm} {
				width: 150px;
			}

			@media #{$xs} {
				width: 100px;
			}
		}
	}
	.brand {
		&-item {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid var(--bd-border-primary);
			min-width: 100px;
			padding: 51px 20px;
		}
	}

}
.brand-style-three {
	&.brand-item {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--bd-border-primary);
		min-width: 100px;
		padding: 51px 20px;

		&:hover {
			.brand-thumb {
				img {
					opacity: 1;
				}
			}
		}
	}
	.brand-thumb img {
		height: auto;
		width: auto;
		opacity: 30%;
	}
}